* {
    box-sizing: border-box;
}

body {
    margin: 0;
}



.omid {
    margin-top: 100px;
}

.portorico {
    text-align: center;
}

.img-wrap {
    width: 100%;
}

.img-wrap img {
    width: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.bb {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

@keyframes load {
    from {
        width: 0%
    }
}

@-webkit-keyframes load {
    from {
        width: 0%
    }
}

.swswsw {
    width: 800px;
    height: 800px;
}

.yat {
    margin-top: 30px;
}

.goaway {
    background-image: linear-gradient(rgb(32, 13, 204), rgb(194, 19, 179));
    margin-top: 100px;
}