@font-face {
    src: url(../FONTS/IRANSansWeb_Bold.ttf);
    font-family: "iranSans";
}
@font-face {
    src: url(../FONTS/yekannumbers-regular.woff);
    font-family: "Yekan";
}
.Yekan {
    font-family: "Yekan";
    font-weight: bold;
}
.iranSans {
    font-family: "iranSans";
}
