:root {
    --light-gray: #2b3032a1;
    --primary-color: #38a4c5;
    --border: #2b303218;
    --text-color: #ff686b;
}

.primary-color {
    color: var(--primary-color);
}

.bg-primary-color {
    background-color: var(--primary-color) !important;
}

.text-color {
    color: var(--text-color);
}

.lightblue {
    color: lightblue;
}
.displayNone {
    display: none;
}
/* header */

header {
    background-color: var(--primary-color);
}

.container .dropdown-toggle,
.container .dropdown-item {
    font-size: 0.7em;
}

.header-links a {
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

.topnav a:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #38a4c5;
}

.topnav .search-container {
    float: left;
}

.topnav input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a,
    .topnav input[type="text"],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type="text"] {
        border: 1px solid #ccc;
    }
}

.ccc {
    margin-right: 10px;
}

.ccc:hover {
    text-decoration: none;
}

.ggg {
    margin-left: 20px;
}

.fa {
    width: 50px;
}

.ashnayi {
    background-color: rgb(255, 249, 247);
    border: 2px solid rgb(248, 253, 255);
    border-radius: 25px;
    text-align: center;
    margin-top: 50px;
}

.anva {
    text-align: center;
    margin-top: 50px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.rrr {
    padding: 64px;
}

.www:after {
    content: "";
    display: table;
    clear: both;
}

.column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
}

.column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
}

.button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(9, 151, 170);
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

@media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
        width: 100%;
        text-align: center;
    }
    img {
        margin: auto;
    }
}

.cen {
    text-align: center;
}

img {
    width: 500px;
    height: 500px;
}

* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.kocholo {
    width: 500px;
    height: 80px;
}

.blue {
    background-color: rgb(22, 164, 189);
}

p {
    color: rgb(190, 190, 192);
    line-height: 25px;
}

h2,
h3 {
    color: #fff;
}

h2 {
    font-size: 18px;
}

.ftt {
    background: rgb(20, 130, 173);
    padding: 8px 0;
}

footer {
    margin-top: 200px;
}

.segment-one {
    text-align: center;
}

.segment-two {
    text-align: center;
}

.segment-three {
    text-align: center;
}

.segment-four {
    text-align: center;
}

.salam {
    text-decoration: none;
    color: rgb(180, 170, 170);
}

.salam:hover {
    color: rgb(21, 151, 173);
}

.by {
    list-style-type: none;
}

.salamm {
    text-decoration: none;
    color: rgb(24, 21, 21);
    margin-left: -150px;
}

.salamm:hover {
    color: rgb(21, 151, 173);
    text-decoration: none;
}

.dddd {
    height: 500px;
    width: 700px;
}

.ohmygod {
    margin-left: -70px;
}

.cccccc {
    background-color: rgb(226, 224, 224);
}

.filtering {
    margin-top: 100px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: rgb(21, 160, 214);
}

.container:hover .overlay {
    opacity: 0.7;
}

.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa-user:hover {
    color: #eee;
}
