:root {
    --light-gray: #2b3032a1;
    --primary-color: #38a4c5;
    --border: #2b303218;
    --text-color: #ff686b;
}

.primary-color {
    color: var(--primary-color);
}

.bg-primary-color {
    background-color: var(--primary-color) !important;
}

.text-color {
    color: var(--text-color);
}

.lightblue {
    color: lightblue;
}

.displayNone {
    display: none;
}

/* header */

header {
    background-color: var(--primary-color);
}

.container .dropdown-toggle,
.container .dropdown-item {
    font-size: 0.7em;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(32, 13, 204)), to(rgb(194, 19, 179)));
    background-image: linear-gradient(rgb(32, 13, 204), rgb(194, 19, 179)); */
}

.topnav .search-container {
    float: left;
}

.topnav input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

    .topnav a,
    .topnav input[type="text"],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type="text"] {
        border: 1px solid #ccc;
    }
}

.ccc {
    margin-right: 10px;
}

.ccc:hover {
    text-decoration: none;
}

.ggg {
    margin-left: 20px;
}

.fa {
    width: 50px;
}

.ashnayi {
    background-color: rgb(255, 249, 247);
    border: 2px solid rgb(248, 253, 255);
    border-radius: 25px;
    text-align: center;
    margin-top: 50px;
}

.anva {
    text-align: center;
    margin-top: 50px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.rrr {
    padding: 64px;
    font-size: 1rem;
}

.www:after {
    content: "";
    display: table;
    clear: both;
}

.column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
}

.column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
}

.button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(9, 12, 170);
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

@media screen and (max-width: 1000px) {

    .column-66,
    .column-33 {
        width: 100%;
        text-align: center;
    }

    img {
        margin: auto;
    }
}

.cen {
    text-align: center;
}

* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.kocholo {
    width: 500px;
    height: 80px;
}

.blue {
    background-color: rgb(9, 11, 151);
}

p {
    color: rgb(190, 190, 192);
    line-height: 2rem;
}

h2,
h3 {
    color: #fff;
}

h2 {
    font-size: 18px;
}

.ftt {
    background: rgb(43, 20, 173);
    padding: 8px 0;
}

footer {
    margin-top: 200px;
}

.segment-one {
    text-align: center;
}

.segment-two {
    text-align: center;
}

.segment-three {
    text-align: center;
}

.segment-four {
    text-align: center;
}

.salam {
    text-decoration: none;
    color: rgb(180, 170, 170);
}

.salam:hover {
    color: rgb(21, 11, 155);
}

.by {
    list-style-type: none;
}

.salamm {
    text-decoration: none;
    color: rgb(24, 21, 21);
    margin-left: -150px;
}

.salamm:hover {
    color: rgb(24, 10, 150);
    text-decoration: none;
}

.dddd {
    height: 500px;
    width: 700px;
}

.ohmygod {
    margin-left: -70px;
}

.cccccc {
    background-color: rgb(226, 224, 224);
}

.filtering {
    margin-top: 100px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    background-color: rgb(33, 4, 161);
}

.container .overlay:hover {
    opacity: 0.7;
    cursor: pointer;
}

.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa-user:hover {
    color: #eee;
}

body {
    line-height: normal;
    /* default */
    line-height: 2;
    line-height: 3em;
    line-height: 3rem;
    line-height: 200%;
    line-height: 20px;
}

.ohmygodd {
    text-align: center;
    margin-left: -30px;
}

/* .bala {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(32, 13, 204)), to(rgb(194, 19, 179)));
    background-image: linear-gradient(rgb(32, 13, 204), rgb(194, 19, 179));
} */

.ashnayi {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(32, 13, 204)), to(rgb(194, 19, 179)));
    background-image: linear-gradient(rgb(32, 13, 204), rgb(194, 19, 179));
}

.card {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(32, 13, 204)), to(rgb(194, 19, 179)));
    background-image: linear-gradient(rgb(32, 13, 204), rgb(194, 19, 179));
}


.bang {
    color: black;
}

.goaway {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(32, 13, 204)), to(rgb(194, 19, 179)));
    background-image: linear-gradient(rgb(32, 13, 204), rgb(194, 19, 179));
}

.ashnayi {
    opacity: 0.7;
}

.filterDiv {
    background-color: rgb(243, 243, 243);
    color: #ffffff;
    width: 8000px;
    line-height: 300px;
    text-align: center;
    margin: 2px;
    /* display: none; */
}

.show {
    display: block;
}


/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    color: black;
}

.btn:hover {
    background-color: rgb(152, 15, 170);
}

.btn.active {
    background-color: rgb(30, 19, 182);
    color: white;
}

.lll {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

.aghababak {
    width: 500px;
    height: 280px;
}

.aghababakk {
    width: 500px;
    height: 280px;
}

.nnn {
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 100px;
}

.centrico {
    text-align: center;
    margin-top: 100px;
}

.centricoخ {
    text-align: center;
    margin-top: 100px;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.direction-rtl {
    direction: rtl;
}

.background-opaque {
    background-color: rgba(255, 255, 255, 1);
}

#carouselId::after {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 211, 242, 0.5)), to(rgba(189, 204, 235, 0.5)));
    background-image: linear-gradient(rgba(247, 211, 242, 0.5), rgba(189, 204, 235, 0.5));
}

.carousel-item>img {
    width: 100%;
    height: 600px;
    -o-object-fit: cover;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 10;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    border-radius: 50%;
    color: white !important;
    padding: 2rem !important;
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-caption>h3 {
    direction: rtl;
    position: absolute;
    top: 30%;
    right: 15%;
    font-size: 1.5rem;
    color: yellow;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    opacity: 0;
}

h3#first {
    -webkit-animation-name: drag_from_left;
    animation-name: drag_from_left;
}

h3#second {
    -webkit-animation-name: appear;
    animation-name: appear;
}

h3#third {
    -webkit-animation-name: drag_from_right;
    animation-name: drag_from_right;
}

@-webkit-keyframes drag_from_left {
    from {
        opacity: 0;
        right: 100%;
    }

    to {
        opacity: 1;
        right: 15%;
    }
}


@keyframes drag_from_left {
    from {
        opacity: 0;
        right: 100%;
    }

    to {
        opacity: 1;
        right: 15%;
    }
}

@-webkit-keyframes appear {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@-webkit-keyframes drag_from_right {
    from {
        opacity: 0;
        right: -100%;
    }

    to {
        opacity: 1;
        right: 15%;
    }
}


@keyframes drag_from_right {
    from {
        opacity: 0;
        right: -100%;
    }

    to {
        opacity: 1;
        right: 15%;
    }
}

.carousel-caption>h5 {
    direction: rtl;
    position: absolute;
    top: 50%;
    right: 15%;
    color: white;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black;
    opacity: 0;
    -webkit-animation-name: appear2;
    animation-name: appear2;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@-webkit-keyframes appear2 {
    from {
        opacity: 0;
        right: 100%;
    }

    to {
        opacity: 1;
        right: 15%;
    }
}

@keyframes appear2 {
    from {
        opacity: 0;
        right: 100%;
    }

    to {
        opacity: 1;
        right: 15%;
    }
}

.carousel-caption>a {
    border-radius: 5px;
    direction: rtl;
    position: absolute;
    top: 70%;
    right: 15%;
    opacity: 0;
    background-color: gray;
    -webkit-animation-name: link_appear_with_delay;
    animation-name: link_appear_with_delay;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes link_appear_with_delay {
    from {
        opacity: 0;
        right: 30%;
    }

    to {
        opacity: 1;
        right: 15%;
    }
}

@keyframes link_appear_with_delay {
    from {
        opacity: 0;
        right: 30%;
    }

    to {
        opacity: 1;
        right: 15%;
    }
}