body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding: 8rem 0;
    background-image: linear-gradient(rgb(32, 13, 204), rgb(194, 19, 179));
    opacity: 0.7;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}


.tabiyat {
    margin-top: 100px;
}

.goaway {
    background-image: linear-gradient(rgb(32, 13, 204), rgb(194, 19, 179));
    margin-top: 100px;
}